services:

  postgresql:
    image: registry.conarx.tech/containers/postgresql
    environment:
      - "POSTGRES_ROOT_PASSWORD=rootpass"
      - "POSTGRES_USER=mastodonuser"
      - "POSTGRES_PASSWORD=mastodonpass"
      - "POSTGRES_DATABASE=mastodon"
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    networks:
      - internal

  redis:
    image: registry.conarx.tech/containers/redis
    restart: always
    environment:
      - "REDIS_PASSWORD=mastodontest"
    volumes:
      - ./data/redis:/var/lib/redis
    networks:
      - internal

  mastodon:
    image: @@PIPELINE_IMAGE@@
    environment:
      - "FDC_CI=true"
      - "MASTODON_MODE=web"
    volumes:
      - ./mastodon.env:/etc/mastodon/mastodon.env
      - ./data/mastodon:/mastodon/public/system
      - ./data/mastodon.private:/mastodon/private
    networks:
      - external
      - internal
    depends_on:
      - postgresql
      - redis

  mastodon-streaming:
    image: @@PIPELINE_IMAGE@@
    environment:
      - "FDC_CI=true"
      - "MASTODON_MODE=streaming"
    volumes:
      - ./mastodon.env:/etc/mastodon/mastodon.env
      - ./data/mastodon:/mastodon/public/system
    networks:
      - external
      - internal
    depends_on:
      - postgresql
      - redis

  mastodon-sidekiq:
    image: @@PIPELINE_IMAGE@@
    environment:
      - "FDC_CI=true"
      - "MASTODON_MODE=sidekiq"
    volumes:
      - ./mastodon.env:/etc/mastodon/mastodon.env
    networks:
      - external
      - internal
    depends_on:
      - postgresql
      - redis


networks:
  external:
    driver: bridge
    enable_ipv6: true
  internal:
    driver: bridge
    internal: true
    enable_ipv6: true
