MASTODON_HOST=mastodon

BIND="[::]"

LOCAL_DOMAIN=social.example.com

DB_HOST=postgresql
DB_PORT=5432
DB_USER=mastodonuser
DB_PASS=mastodonpass
DB_NAME=mastodon

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=mastodontest

SECRET_KEY_BASE=testsecretkeyreplaceme
OTP_SECRET=testsecretkeyreplaceme
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=testsecretkeyreplaceme
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=testsecretkeyreplaceme
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=testsecretkeyreplaceme
