MASTODON_HOST=mastodon

LOCAL_DOMAIN=example.com

DB_HOST=postgresql
DB_PORT=5432
DB_USER=mastodonuser
DB_PASS=mastodonpass
DB_NAME=mastodon

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=mastodontest

SECRET_KEY_BASE=testsecretkeyreplaceme
OTP_SECRET=testsecretkeyreplaceme
